<form action="/questions" method="post">
  <label>Question</label>
  <input name="question[title]" type="text" minlength="20">
</br>
</br>
  <label>Description</label>
  <input name="question[description]" type="text" minlength="50">

  <input name="commit" type="submit">
</form>
</br>
</br>
